<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/simpleWeather.css">
  <!--
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
  -->
  <script src="bower_components/modernizr/modernizr.js"></script>
</head>
<body>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

    <div class="container">
      <div class="header" id="menuTop" ng-controller="appCtrl">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#/home">Home</a></li>
            <li role="presentation" ng-if="user.token"><a href="#/view1">Follows</a></li>
            <li role="presentation" ng-if="user.token"><a href="#/view2">Inspirations</a></li>
            <li role="presentation">
              <oauth
                site="https://instagram.com"
                client-id="be05542e8e5b49fa91b74fcb3800af8e"
                redirect-uri="http://localhost:8000/app"
                scope="basic"
                response-type="token">
              </oauth>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">&nbsp;</h3>
      </div>

      <div ng-view></div>

      
      <footer class="footer">
        <p>&copy; my wardrobe inspiration 2014 v.<span app-version></span></p>
      </footer>

    </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/ngstorage/ngStorage.js"></script>
  <script src="bower_components/oauth-ng/dist/oauth-ng.js"></script>
  <script src="bower_components/simpleWeather/jquery.simpleWeather.js"></script>
  <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="scripts/mywardrobe.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/instagram.js"></script>
  <script src="scripts/simpleWeather.js"></script>
  <script src="views/home/home.js"></script>
  <script src="views/view1/view1.js"></script>
  <script src="views/view2/view2.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="bower_components/simpleWeather/jquery.simpleWeather.js"></script>
  <script src="bower_components/scrollup/dist/jquery.scrollUp.js"></script>

  <!--
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/hammerjs/hammer.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  -->
</body>
</html>
