<div class="jumbotron">
	<div ng-controller="HomeCtrl">
	  <!-- Docs at http://http://simpleweatherjs.com -->
	  <div id="weather"></div>
	  <button class="js-geolocation" style="display: none;">Use Your Location</button>

	  <input class="hide" type="text" id="linkWeather" ng-model="weather"></input>
	  {{weather}}
	</div>
	</div>

	<div class="row marketing">
	<div class="col-lg-6">
	  <h4>Subheading</h4>
	  <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

	  <h4>Subheading</h4>
	  <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

	  <h4>Subheading</h4>
	  <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
	</div>

	<div class="col-lg-6">
	  <h4>Subheading</h4>
	  <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

	  <h4>Subheading</h4>
	  <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

	  <h4>Subheading</h4>
	  <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
	</div>
</div>

<script>
/* 
* Test Locations
* Austin lat/long: 30.2676,-97.74298
* Austin WOEID: 2357536
*
$(document).ready(function() {
  loadWeather('Seattle',''); //@params location, woeid
});
*/
</script>